In [38]:
# Basic Data Cleaning for Data Visualization through Tableau

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("Heart_new2.csv")
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3,30,No,Female,55-59,White,Yes,Yes,Very good,5,Yes,No,Yes
1,No,20.34,No,No,Yes,0,0,No,Female,80 or older,White,No,Yes,Very good,7,No,No,No
2,No,26.58,Yes,No,No,20,30,No,Male,65-69,White,Yes,Yes,Fair,8,Yes,No,No
3,No,24.21,No,No,No,0,0,No,Female,75-79,White,No,No,Good,6,No,No,Yes
4,No,23.71,No,No,No,28,0,Yes,Female,40-44,White,No,Yes,Very good,8,No,No,No

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HeartDisease      4500 non-null   object
 1   BMI               4500 non-null   float64
 2   Smoking           4500 non-null   object
 3   AlcoholDrinking   4500 non-null   object
 4   Stroke            4500 non-null   object
 5   PhysicalHealth    4500 non-null   int64
 6   MentalHealth      4500 non-null   int64
 7   DiffWalking       4500 non-null   object
 8   Sex               4500 non-null   object
 9   AgeCategory       4500 non-null   object
 10  Race              4500 non-null   object
 11  Diabetic          4500 non-null   object
 12  PhysicalActivity  4500 non-null   object
 13  GenHealth         4500 non-null   object
 14  SleepTime         4500 non-null   int64
 15  Asthma            4500 non-null   object
 16  KidneyDisease     4500 non-null   object
 17  SkinCancer        4500 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 632.9+ KB

In [42]:
df.describe()

               BMI  PhysicalHealth  MentalHealth    SleepTime
count  4500.000000     4500.000000   4500.000000  4500.000000
mean     29.340040        4.105111      4.439778     7.043333
std       6.676625        8.573743      8.593363     1.595765
min      12.480000        0.000000      0.000000     1.000000
25%      24.687500        0.000000      0.000000     6.000000
50%      28.250000        0.000000      0.000000     7.000000
75%      33.000000        3.000000      5.000000     8.000000
max      75.820000       30.000000     30.000000    20.000000

In [43]:
# Check Null Values

df.isnull().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [44]:
df = df.drop_duplicates()

In [45]:
# Fix Yes/No Consistency

yes_no_cols = [
    "HeartDisease", "Smoking", "AlcoholDrinking",
    "Stroke", "DiffWalking", "PhysicalActivity", "Diabetic"
]

for col in yes_no_cols:
    df[col] = df[col].str.strip().str.capitalize()

In [46]:
for col in yes_no_cols:
    print(col, df[col].unique())

HeartDisease ['No' 'Yes']
Smoking ['Yes' 'No']
AlcoholDrinking ['No' 'Yes']
Stroke ['No' 'Yes']
DiffWalking ['No' 'Yes']
PhysicalActivity ['Yes' 'No']
Diabetic ['Yes' 'No' 'No, borderline diabetes' 'Yes (during pregnancy)']

In [37]:
# Export the cleand dataset

df.to_csv("heart_data_clean.csv", index=False)